{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}






        <table class="table col-md-6">
            <thead>
            <tr>
                <th scope="col">Numéro</th>
                <th scope="col">Date</th>
                <th scope="col">temperature</th>
                <th scope="col">Gaz</th>
            </tr>
            </thead>
            <tbody>
    {% for data in data %}
            <tr>
                <th scope="row">{{ data.idData }}</th>
                <th scope="row">{{ data.date|date('d/m/Y') }}</th>
                <td>{{ data.temperature }}</td>
                <td>{{ data.gaz }}</td>
            </tr>
    {% endfor %}
            </tbody>
        </table>








{% endblock %}
