{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}


    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta name="keywords" content="SMART FIRE KILLER 2000">
        <meta name="description" content="">
        <meta name="page_type" content="np-template-header-footer-from-plugin">
        <title>Page 1</title>
        <link rel="stylesheet" href="nicepage.css" media="screen">
        <link rel="stylesheet" href="{{ asset('/public/final.css') }}" media="screen">
        <script class="u-script" type="text/javascript" src="jquery-1.9.1.min.js" defer=""></script>
        <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
        <meta name="generator" content="Nicepage 3.17.8, nicepage.com">
        <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">


        <script type="application/ld+json">{
                "@context": "http://schema.org",
                "@type": "Organization",
                "name": "",
                "logo": "images/smartfirekiller.jpg"
            }</script>
        <meta property="og:title" content="Page 1">
        <meta property="og:type" content="website">
        <meta name="theme-color" content="#478ac9">
    </head>
    <body class="u-body"><header class="u-black u-clearfix u-header u-header" id="sec-d799"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <a href="https://nicepage.com" class="u-image u-logo u-image-1" data-image-width="402" data-image-height="396">
                <img src="images/smartfirekiller.jpg" class="u-logo-image u-logo-image-1" data-image-width="145.6906">
            </a>
            <h1 class="u-text u-text-default u-text-1">
                <span class="u-text-palette-2-base">SMART FIRE KILLER 2000</span>
                <br>
            </h1>
        </div></header>
    <section class="u-align-right u-clearfix u-section-1" id="sec-a5a4">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-table u-table-responsive u-table-1">
                <table class="u-table-entity u-table-entity-1">
                    <colgroup>
                        <col width="31.21%">
                        <col width="31.8%">
                        <col width="36.98%">
                    </colgroup>
                    <thead class="u-palette-4-base u-table-header u-table-header-1">
                    <tr style="height: 56px;">
                        <th class="u-border-2 u-border-grey-30 u-palette-2-base u-table-cell u-table-cell-1">Date</th>
                        <th class="u-border-2 u-border-grey-30 u-palette-2-base u-table-cell u-table-cell-2">Température (°C)<br>
                        </th>
                        <th class="u-border-2 u-border-grey-30 u-palette-2-base u-table-cell u-table-cell-3">Taux de gaz (% dans l'air)<br>
                        </th>
                    </tr>
                    </thead>
                    <tbody class="u-table-body">
                    <tr style="height: 59px;">
                        <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-4">
                            <br>
                        </td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-5">
                            <br>
                        </td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-6">
                            <br>
                        </td>
                    </tr>
                    <tr style="height: 60px;">
                        <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-7">
                            <br>
                        </td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-8">
                            <br>
                        </td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-9">
                            <br>
                        </td>
                    </tr>
                    <tr style="height: 60px;">
                        <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-10">
                            <br>
                        </td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-11">
                            <br>
                        </td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-12">
                            <br>
                        </td>
                    </tr>
                    <tr style="height: 60px;">
                        <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-13">
                            <br>
                        </td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-14">
                            <br>
                        </td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-15">
                            <br>
                        </td>
                    </tr>
                    <tr style="height: 60px;">
                        <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-16"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-17"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-18"></td>
                    </tr>
                    <tr style="height: 60px;">
                        <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-19"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-20"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-21"></td>
                    </tr>
                    <tr style="height: 60px;">
                        <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-22">
                            <br>
                        </td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-23"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-24"></td>
                    </tr>
                    <tr style="height: 60px;">
                        <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-25">
                            <br>
                        </td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-26"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-27"></td>
                    </tr>
                    <tr style="height: 60px;">
                        <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-28"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-29"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-30"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <a href="https://nicepage.com/c/video-website-mockup" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-2-base u-radius-6 u-text-body-alt-color u-btn-1">Arrêter l'alarme</a>
            <a href="https://nicepage.com/c/video-website-mockup" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-2-base u-radius-6 u-text-body-alt-color u-btn-2">Accéder à l'historique<br> complet de la journée<br>
            </a>
        </div>
    </section>


    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-a641"><div class="u-clearfix u-sheet u-sheet-1">
            <p class="u-align-left u-small-text u-text u-text-variant u-text-1">IR4 - Projet Majeure<br>
            </p>
            <p class="u-align-right u-small-text u-text u-text-variant u-text-2">PHILIPPE - CHAUVIGNE - MAZELLIER - PELLETIER - RAIMBAULT<br>
            </p>
        </div></footer>

    </body>
{% endblock %}
